<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Events- this form didnt work so well, also, what to do if you have more than one field?:</b>
  <%= @user.events.map { |t| t.username }.join(", ") %>
</p>


<h2>The symptoms list</h2>
<p> i need to put in the rendered symptom form here. </p>
<%= link_to 'Add Symptom', new_user_symptom_path(@user) %>
<%= link_to 'Add Event', new_user_event_path(@user) %>


<br/>


<h2>Add a event</h2>

#render "symptoms/form" %>


<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |

