<h1>Listing all events</h1>
<table>
  <tr>
    <th>Eventname</th>
    <th>Eventtime</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @events.each do |event| %>
      <tr>
        <td><%= @events.eventname %></td>
        <td><%= @events.eventtime %></td>
        <!-- /users/:user_id/events/:id -->
        <td><%= link_to 'Show', [event.user, event] %></td>
        <!-- /users/:user_id/events/:id/edit -->
        <td><%= link_to 'Edit', edit_user_event_path(event.user, event)%></td>
        <!-- /users/:user_id/events/:id -->
        <td><%= link_to 'Destroy', [event.user, event], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>
<br />
<%= link_to 'New Event', new_user_event_path %> <!-- /users/:user_id/events/new -->
